* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}
header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #383c42;
    padding: 5px 10px;
}
header h1 {
    font-size: 1.5em;
    color: #fff;
}
header #btn-exit {
    background-color: #18acfe;
    width: 45px;
    height: 25px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    font-size: 0.6em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header #btn-exit:hover {
    background: #fff;
    color: #18acfe;
}

main {
    width: 100%;
}
main .card {
    width: 300px;
    height: 250px;
    margin-top: 50px;
}
